         *{
         #p1{
            background-color:darkgoldenrod;
            color: black;
            text-align: center;
        }
        .gu,.ga,n{
            background-color: rgb(57, 60, 59);
            color: white;
        }
        div form{
            background-color: #0e0e0e;
        }          color:darkolivegreen;
            background-color:lightskyblue;
        } 
 